.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 0 10px 0;
  background-color: var(--light-mode-bg);
  box-shadow: var(--box-shadow);
}

.movie-info img {
  height: 87%;
}

.movie-info .title {
  text-align: center;
  font-weight: 600;
  color: var(--dark-mode-bg);
  font-size: 18px;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--rating);
    border-radius: 50%;
    font-weight: 500;
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: var(--rating);
    
}

/* MEDIA QUERY FOR SCREENS SIZES BELOW 761PX */

@media screen and (max-width: 760px) {
  .movie-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 30px;
  }
  .movie-info {
    border-radius: 0;
  }

}
