nav h2 {
  font-weight: 600;
}

nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 20px;
  background-color: var(--dark-mode-bg);
}

.logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 30%;
}

.logo h4 {
  color: var(--light-mode-bg);
  font-weight: 600;
  font-size: 18px;
}

.logo span {
  font-family: 400;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-mode-bg);
}

.logo-icon {
  color: var(--light-mode-bg);
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.desktop-menu li {
  font-size: 16px;
}

.mobile-menu {
  display: none;
}

.activeBtn {
  color: var(--light-mode-bg);
  text-decoration: none;
  font-weight: 700;
}

.inactiveBtn {
  color: var(--light-mode-bg);
  text-decoration: none;
  font-weight: 400;
}


/* MEDIA QUERY FOR SCREENS SIZES BELOW 761PX */

@media screen and (max-width: 760px) {
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    height: 50px;
  }
  nav .logo {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    cursor: pointer;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon {
    font-size: 21px;
  }

  .inactiveBtn {
    color: grey;
  }
}
