.movie-page {
  width: 100%;
}
.movie-section {
  width: 30%;
}

.movie-header-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.shows-header-title {
  margin: 0 auto;
  text-align: center;
}

.movie-header-title button {
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 4px;
  border: none;
  background-color: var(--dark-mode-button);
  color: var(--light-mode-bg);
  border: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.shows-header-title button {
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 4px;
  border: none;
  background-color: var(--dark-mode-button);
  color: var(--light-mode-bg);
  border: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.shows-header-title button:hover {
  background-color: var(--dark-mode-button-hover);
}
.movie-header-title button:hover {
  background-color: var(--dark-mode-button-hover);
}

/* MEDIA QUERY FOR SCREENS SIZES BELOW 761PX */

@media screen and (max-width: 760px) {
  .movie-section {
    width: 70%;
  }

  .movie-header-title button {
    padding: 10px 20px;
  }
  .shows-header-title button {
    padding: 10px 20px;
  }
}
