@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;700;800&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&family=Ubuntu:ital,wght@1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  #0467FB #4B59F7*/

:root {
  --dark-mode-bg: #1d267d;
  --dark-mode-button: #404cbb;
  --dark-mode-button-hover: #4b59f7;
  --light-mode-text: #3d3c3c;
  --light-mode-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --rating: #eb2727;
  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--light-mode-bg);
}

ul {
  list-style-type: none;
}

section {
  margin: 0 auto;
  margin-top: 40px;
}

a {
  text-decoration: none;
}
